pytest==7.4.0
pytest-django==4.5.2
responses==0.23.1
mypy==1.4.1
flake8==5.0.4
django-stubs==4.2.0
types-pysaml2==1.0.1
types-setuptools==68.0.0.3
types-pkg-resources==0.1.3
interrogate==1.5.0
coverage==7.2.7
cyclonedx-bom==3.11.0
